/* Contains resets, normalize rules, and global element defaults that apply site-wide */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: #2a2a2a;
  color: #e0e0e0;
  outline: transparent;
  border: transparent;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  text-align: center;
  color: #007BFF;
}

.link:hover {
  text-decoration: underline;
}

.default-btn:hover {
  background-color: #0056b3;
}
